<footer>
	<div class="footer-content">
		<div class="footer-section contact">
			<h3>Contact</h3>
			<p>
				Email:
				<a href="mailto:pepijn@pepijncolenbrander.com">
					pepijn&#64;pepijncolenbrander.com</a
				>
			</p>
		</div>
		<div class="footer-section follow-us">
			<h3>Follow Me</h3>
			<ul>
				<li style="margin-bottom: 10px">
					<a
						href="https://www.linkedin.com/in/pepijn-colenbrander-1a6515276/"
						target="_blank"
						>LinkedIn</a
					>
				</li>
				<li>
					<a href="https://www.instagram.com/pip_colenbrander/" target="_blank"
						>Instagram</a
					>
				</li>
			</ul>
		</div>
		<div class="footer-section legal">
			<h3>Legal</h3>
			<ul>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
	<div class="footer-bottom">
		<p style="font-weight: 300">
			&copy; Pepijn Colenbrander 2024. All rights reserved.
		</p>
	</div>
</footer>
