:host {
	margin-left: auto;
}
nav {
	position: relative;
	margin-bottom: 100px;
	.links {
		display: flex;
		gap: 40px;
		letter-spacing: 0;
		line-height: 1;
		padding-top: 30px;
		.link {
			color: #3a3a3a;
			text-decoration: none;
			margin-right: 30px;
			a {
				display: inline-block;
				position: relative;
				color: inherit;
				text-decoration: inherit;
			}
		}
	}
}
