<nav>
	<button class="hamburger" aria-label="Toggle navigation">
		&#9776;
		<!-- This is the hamburger icon -->
	</button>
	<div class="links">
		<div class="link">
			<a routerLink="/" routerLinkActive="active">Home</a>
		</div>
		<div class="link">
			<a routerLink="/blog" routerLinkActive="active">Blog</a>
		</div>
		<div class="link">
			<a routerLink="/projects" routerLinkActive="active">Projects</a>
		</div>
		<div class="link">
			<a routerLink="/tools" routerLinkActive="active">Tools</a>
		</div>
	</div>
</nav>
