<nav>
	<div class="links">
		<div class="link">
			<a routerLink="/" routerLinkActive="active">Home</a>
		</div>
		<div class="link">
			<a routerLink="/blog" routerLinkActive="active">Blog</a>
		</div>
		<div class="link">
			<a routerLink="/projects" routerLinkActive="active">Projects</a>
		</div>
		<div class="link">
			<a routerLink="/downloads" routerLinkActive="active">Downloads</a>
		</div>
		<div class="link">
			<a
				href="https://www.linkedin.com/in/pepijn-colenbrander-1a6515276/"
				target="_blank"
				>LinkedIn</a
			>
		</div>
	</div>
</nav>
