<div class="dashboard-container">
	<div class="header">
		<h1 style="font-weight: 400">What I've written for you</h1>
	</div>

	<div class="grid">
		@if (loading) {
			<app-loader size="lg"></app-loader>
		}
		<div class="">
			@for (blog of blogPosts; track blog.title; let first = $first) {
				<div class="blog-post" (click)="navigateToBlog(blog.id)">
					<img src="{{ blog.image }}" alt="" class="cover-image" />
					<div class="text">
						<div class="title">
							<mark>{{ blog.title }}</mark>
						</div>
						<div class="published-on">
							Published on
							{{ blog.publishedDate | date: "EEEE, MMMM d, y" }}
						</div>
						<div class="body">{{ blog.content | htmlStrip }}</div>

						<span class="read-more">
							read more
							<img
								src="../../../../assets/svg/icons/arrow-right-solid.svg"
								alt="read-more-arrow"
							/>
						</span>
					</div>
				</div>
			}
		</div>
	</div>
</div>
