<div class="project-container">
	<div class="breadcrumb">
		<a href="/projects" class="return-link"><mark>Return to dashboard</mark></a>
	</div>
	<div class="header-container">
		<div class="header-image">
			<img [src]="project.image" alt="Blog image" class="image" />
		</div>
		<div class="header-content">
			<div class="title">{{ project.title }}</div>
			<div class="publish-date">
				Published on {{ project.publishedDate | date }}
			</div>
			<div class="author">By {{ project.author }}</div>
		</div>
	</div>
	<div class="project-text">
		@if (!loading) {
			<article class="body ck-content" [innerHTML]="project.content"></article>
		} @else {
			<app-loader size="md"></app-loader>
		}
	</div>
</div>
