<div class="title">
	<h1 style="opacity: 1; transform: none">
		<span>Hey,</span>
		<span>I'm Pepijn</span>
	</h1>
	<div class="motto" style="opacity: 1; transform: none">
		<h2>
			&mdash; a passionate full stack web developer focusing on turning your
			ideas into digital reality.
		</h2>
	</div>
</div>
<div class="image"></div>
<div class="text">
	<div style="opacity: 1; transform: none">
		I'm a young and ambitious full stack web developer with a passion for
		creating beautiful and functional web applications. I have a strong focus on
		front-end development, but I'm also experienced in back-end development. I'm
		always looking for new challenges and opportunities to learn and grow as a
		developer.
	</div>
	<div style="opacity: 1; transform: none; font-weight: 400">
		I'm currently working at
		<a href="https://peek.app" target="_blank">Peek</a> as a full stack web
		developer. I'm responsible for developing and maintaining the Peek app,
		which is used by hundreds of users every day. I also continually work on new
		features and improvements to the application to make it even better.
	</div>
	<div style="opacity: 1; transform: none; font-size: 25px">
		I focus on making beautiful and modern applications that are easy to use and
		look great on any device. I have experience with a wide range of
		technologies, including HTML, CSS, JavaScript, React, Node.js, Express,
		MongoDB, and more. I'm always looking to expand my knowledge and learn new
		technologies to stay up-to-date with the latest trends in web development.
	</div>
</div>
