:host {
	width: 100%;
}
.blog-container {
	width: 100%;
	.blog-text {
		width: 80%;
		margin: auto;
		position: relative;
		.title {
			font-size: clamp(3rem, 2vw, 8rem);
			text-transform: capitalize;
		}
		.return-link mark {
			color: #000;
			background-size: 0 100%;
			transition: 0.5s ease;
			display: inline;
			background-repeat: no-repeat;
			padding: 2px;
		}
		.return-link:hover mark {
			background-size: 100% 100%;
			color: #fff;
		}
	}
}
mark {
	background-color: transparent;
	background-image: linear-gradient(
		transparent 14%,
		#000 15%,
		#000 80%,
		transparent 70%
	);
	color: #fff;
}
// Responsive
@media screen and (max-width: 768px) {
	:host {
		width: 100%;
	}
	.blog-container {
		width: 100%;
		.blog-text {
			width: 90%;
			margin: auto;
			margin-bottom: 80px;
			.title {
				font-size: clamp(2rem, 2vw, 6rem);
			}
		}
	}
}
